.language-dropdown {
  font-size: 13px;
  color: #475569;
  font-weight: 500;
  line-height: 1.42;
  padding: 6px 12px 6px 4px;
  border: 1px solid #94a3b8;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  background-color: aqua;
}

@media (min-width: 576px) {
  .language-dropdown {
    font-size: 16px;
  }
}
